/* importação das fontes  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); /* font-family: 'Poppins', sans-serif; */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --white: #FAFAFA;
  --black: #030517;
  
  --gray: #EAEAEA;
  --green-dark: #35BDAC;
  --pink: #F231A5;


  --gradient-blue-background: linear-gradient(0deg, #06092B, #06092B), #F1F3FF;
  --gradient-pink-text: linear-gradient(1.81deg, #F231A5 -33.15%, #FF66C2 64.77%);
  --gradient-pink-button: linear-gradient(178.59deg, #FF5F5F -14.51%, #F062C0 102.86%, #F23131 102.86%);
}

html {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  color: var(--white);
}

h1{
  font-size: 5.1rem;
  font-weight: 700;
}

h2{
  font-size: 2.8rem;
  font-weight: 600;
}

p{
  font-size: 1.4rem;
  font-weight: 400;
}

li{
  font-size: 1.6rem;
  font-weight: 700;
}


button{
  font-size: 1.4rem;
  font-weight: 500;
}

.button-gradient{
  border: none;
  background: var(--gradient-pink-button);
  color: white;
  border-radius: .4rem;
}

small{
  font-size: 1.2rem;
}

a{
  text-decoration: none;
}

a:link{
  color: var(--black);
}

a:visited{
  color: var(--black);
}

.active::before{
  content: '';
  width: 4rem;
  height: .3rem;
  background-color: #35BDAC;
  display: inline-block;
  margin-right: -4.3rem;
  margin-bottom: -1rem;
}

.container{
  display: flex; 
  width: 75%;
  flex-direction: column;
}

.text-pink{
  color: var(--pink);
}

.title-section::before{
  content: '';
  width: .5rem;
  height: 2.6rem;
  margin-bottom: -.3rem;
  margin-right: 1.1rem;
  background-color: var(--green-dark);
  display: inline-block;

}

/* ICONS */

.ic {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}

.ic-email {
  background: url("../icons/ic-email.svg");
}

.ic-password {
  background: url("../icons/ic-password.svg");
}

.ic-user-light{
  background: url("../icons/ic-user-light.svg");
}

.ic-user-dark{
  background: url("../icons/ic-user-dark.svg");
}

.ic-search{
  background: url("../icons/ic-search.svg");
}

.ic-cart{
  background: url("../icons/ic-cart.svg");
}

.ic-arrow-donw{
  background: url("../icons/ic-arrow-donw.svg");
}



/* LOGIN */

.login-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("../images/background-login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}

.login-page{
  background-color: var(--white);
}

.login-grid{
  display: grid;
  grid-template-columns: 72.7rem minmax(auto, 68.3rem);
  height: 100vh;
}

.login-logo{
  margin: 5.6rem 0 0 5.5rem;
}

.title-login{
  color: var(--black);
}

.login-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 2.3rem 0 5.5rem;
  color: var(--white)
}

.login-container figure{
  text-align: center;
}

.login-container h2{
  display: flex;
  justify-items: center;
  margin-bottom: 2.7rem;
}

.login-container h2::before{
  content: "";
  display: inline-block;
  margin-right: 1.1rem;
  width: .7rem;
  height: 3.9rem;
  background-color: var(--green-dark);

  
}

.login-content h2 span{
  background:  var(--gradient-pink-button);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-left p{
  text-align: center;
  color: var(--white);
  margin-bottom: 2.5rem ;
}

.login-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container figure{
  margin-bottom: 5.6rem;
}

.login-container form .form-input{
  position:  relative;
  background-color: var(--gray);
  width: 38.0rem;
  height: 5.0rem;
  border-radius: 2px;
  margin-bottom: .9rem;
}

.login-container form input{
  width: inherit;
  height: inherit;
  border: none;
  outline: none;
  background: transparent;
  padding-left: 4.8rem;
  
}

.login-container form i{
  position: absolute;
  left: 0;
  margin: 1.4rem;
}

.login-container form small{
  text-align: center;
  margin-bottom: 2.7rem;
}

.login-container button{
  width: 100%;
  height: 5rem;
  margin-bottom: 1.7rem;
  margin-top: 3rem;
}

.login-container .forgot-password{
  display: flex;
  justify-content: end;
}

.login-container p{
  text-align: center;
}

.login-container p span{
  color: var(--green-dark);
  text-decoration: underline;
}

/* HOME */

.home-page{
  background: var(--gradient-blue-background) ;
}



/* HEADER */

header{
  display: flex;
  flex-direction: row;
  height: 9.2rem;
  align-items: flex-end;
  padding: 0 9.2rem;
}

.header-menu{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-menu section{
  display: flex;
  align-items: center;
}

.header-menu figure{
  margin-right: 4.2rem;
}

.header-nav{
  display: flex;
  
  list-style-type: none;
}

.header-nav li:first-child{
  margin-right: 2.9rem;
}

.header-icons{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.header-icons div:nth-child(2){
  margin: 0 2.9rem 0 3.2rem;
}

.header-icons p{
  margin: 0 1rem 0 1rem;
}

.header-icons div:nth-child(2)::after{
  content: '2';
  padding: .2rem .7rem;
  
  border-radius: 90%;
  background-color: #35BDAC;
  display: inline;
  position: relative;
  top: -1.8rem;
  left: -.8rem;
  text-align: center;
}

/* MAIN */

main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-banner{
  margin-top: 5rem;
  box-sizing: content-box;
}

.main-banner figure{
  width: 100%;
}

.main-banner figure img{
  width: 100%;
}

    /* Image Conatiner */

.main-banner-container{
  width: 100%;
  height: 20rem;
  position: relative;
  top: -20rem;
  margin-bottom: -20rem;
  padding: 3.1rem 4.4rem 0 4.4rem;
  background-color: rgba(0, 0, 0, 0.7);;
}

.main-banner-content{  
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
}

.main-banner-content h2{
  font-size: 2.8rem;
  font-weight: 400;
}

.main-banner-content h3{
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1.3rem;
}

.main-banner-content button{
  width: 18.2rem;
  height: 5.5rem;
}

    /* Marker Banner */
  
.banner-marker{
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: flex-end;
  position: relative ;
  top: -50rem;
  left: .8rem;
}

.retangulo{
  width: 13.8rem;
  height: 3.6rem;
  background: var(--green-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangulo{
  width: 0;
  height: 0;
  border-top: 1.5rem solid var(--green-dark);
  border-right: .8rem solid transparent;
}

    /* Banner Navigation */
.banner-navigation{
  position: absolute;
  right: 10rem;
  top: 37rem;
}

.banner-navigation ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 8.1rem;
  justify-content: space-between;
}

.item-navigation{
  width: 1rem;
  height: 1rem;
  background: var(--white);
  border-radius: 50%
}

.active-item{
  background: var(--pink);
}




