/* importação das fontes  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

:root {
  --white: #FAFAFA;
  --black: #030517;
  --red: #FF5F5F;
  --gray: #EAEAEA;
  --gray-link: #666666;
  --gray-input: #2E2F42;
  --gray-dark: #BBBBBB;
  --green-dark: #35BDAC;
  --green-light: #3CD3C1;
  --pink: #F231A5;


  --gradient-blue-background: linear-gradient(0deg, #06092B, #06092B), #F1F3FF;
  --gradient-pink-text: linear-gradient(1.81deg, #F231A5 -33.15%, #FF66C2 64.77%);
  --gradient-pink-button: linear-gradient(178.59deg, #FF5F5F -14.51%, #F062C0 102.86%, #F23131 102.86%);
}

html {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  color: var(--white);
}

h1 {
  font-size: 5.1rem;
  font-weight: 700;
}

h2 {
  font-size: 2.8rem;
  font-weight: 400;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
}

li {
  font-size: 1.6rem;
  font-weight: 700;
}

button {
  font-size: 1.4rem;
  font-weight: 500;
}

.button-gradient {
  border: none;
  background: var(--gradient-pink-button);
  color: white;
  border-radius: .4rem;
}

small {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

a:link {
  color: var(--black);
}

a:visited {
  color: var(--black);
}

.active::before {
  content: '';
  width: 4rem;
  height: .3rem;
  background-color: #35BDAC;
  display: inline-block;
  margin-right: -4.3rem;
  margin-bottom: -1rem;
}


.shape-background {
  width: 100%;
  height: 55.5rem;
  background: var(--white);
  position: absolute;
  z-index: 0;
  top: 60rem;
  clip-path: polygon(0 0, 100% 17%, 100% 100%, 0 83%);
}

.container {
  display: flex;
  width: 75%;
  flex-direction: column;
}

.text-pink {
  color: var(--pink);
}

.text-black {
  color: var(--black);
}

.background-pink {
  background-color: var(--pink) !important;
}


.m-4 {
  margin-top: 6rem;
}

.title-section {
  margin-bottom: 3.2rem;
}

.title-section::before {
  content: '';
  width: .5rem;
  height: 2.6rem;
  margin-bottom: -.3rem;
  margin-right: 1.1rem;
  background-color: var(--green-dark);
  display: inline-block;

}

/* Banners  */

.banner-red-dead {
  background:
    linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
    url("../images/big-banner-games/banner-red-dead.png") no-repeat;
}

.banner-borderlands {
  background:
    linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
    url("../images/big-banner-games/banner-borderlands.png") no-repeat;
}

.banner-cs-go {
  background:
    linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
    url("../images/big-banner-games/banner-cs-go.png") no-repeat;
}

.invert-banner {
  flex-direction: row-reverse !important;
}

/* ICONS */

.ic {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}

.ic-check{
  background: url("../icons/ic-check.svg");
}

.ic-email {
  background: url("../icons/ic-email.svg");
}

.ic-password {
  background: url("../icons/ic-password.svg");
}

.ic-user-light {
  background: url("../icons/ic-user-light.svg");
}

.ic-user-dark {
  background: url("../icons/ic-user-dark.svg");
}

.ic-search {
  background: url("../icons/ic-search.svg");
}

.ic-cart {
  background: url("../icons/ic-cart.svg");
}

.ic-arrow-donw {
  background: url("../icons/ic-arrow-donw.svg");
}

.ic-heart {
  background: url("../icons/ic-heart.svg") no-repeat;
}


/* LOGIN */

.login-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("../images/background-login.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.login-page {
  background-color: var(--white);
}

.login-grid {
  display: grid;
  grid-template-columns: 72.7rem minmax(auto, 68.3rem);
  height: 100vh;
}

.login-logo {
  margin: 5.6rem 0 0 5.5rem;
}

.login-container h2 {
  font-weight: 600;
}

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 2.3rem 0 5.5rem;
  color: var(--white)
}

.login-container figure {
  text-align: center;
}

.login-container h2 {
  display: flex;
  justify-items: center;
  margin-bottom: 2.7rem;
}

.login-container h2::before {
  content: "";
  display: inline-block;
  margin-right: 1.1rem;
  width: .7rem;
  height: 3.9rem;
  background-color: var(--green-dark);


}

.login-content h2 span {
  background: var(--gradient-pink-button);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-left p {
  text-align: center;
  color: var(--white);
  margin-bottom: 2.5rem;
}

.login-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container figure {
  margin-bottom: 5.6rem;
}

.login-container form .form-input {
  position: relative;
  background-color: var(--gray);
  width: 38.0rem;
  height: 5.0rem;
  border-radius: 2px;
  margin-bottom: .9rem;
}

.login-container form input {
  width: inherit;
  height: inherit;
  border: none;
  outline: none;
  background: transparent;
  padding-left: 4.8rem;

}

.login-container form i {
  position: absolute;
  left: 0;
  margin: 1.4rem;
}

.login-container form small {
  text-align: center;
  margin-bottom: 2.7rem;
}

.login-container button {
  width: 100%;
  height: 5rem;
  margin-bottom: 1.7rem;
  margin-top: 3rem;
}

.login-container .forgot-password {
  display: flex;
  justify-content: end;
}

.login-container p {
  text-align: center;
}

.login-container p span {
  color: var(--green-dark);
  text-decoration: underline;
}

/* HOME */

.home-page {
  background: var(--gradient-blue-background);
}



/* HEADER */

header {
  display: flex;
  flex-direction: row;
  height: 9.2rem;
  align-items: flex-end;
  padding: 0 9.2rem;
}

.header-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-menu section {
  display: flex;
  align-items: center;
}

.header-menu figure {
  margin-right: 4.2rem;
}

.header-nav {
  display: flex;

  list-style-type: none;
}

.header-nav li:first-child {
  margin-right: 2.9rem;
}

.header-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.header-icons div:nth-child(2) {
  margin: 0 2.9rem 0 3.2rem;
}

.header-icons p {
  margin: 0 1rem 0 1rem;
}

.header-icons div:nth-child(2)::after {
  content: '2';
  padding: .2rem .7rem;

  border-radius: 90%;
  background-color: #35BDAC;
  display: inline;
  position: relative;
  top: -1.8rem;
  left: -.8rem;
  text-align: center;
}

/* MAIN */

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-banner {
  margin-top: 5rem;
  box-sizing: content-box;
}

.main-banner figure {
  width: 100%;
}

.main-banner figure img {
  width: 100%;
}

/* Image Conatiner */

.main-banner-container {
  width: 100%;
  height: 20rem;
  position: relative;
  top: -22rem;
  margin-bottom: -20rem;
  padding: 3.1rem 4.4rem 0 4.4rem;
  background-color: rgba(0, 0, 0, 0.7);
  ;
}

.main-banner-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
}

.main-banner-content h2 {
  font-size: 2.8rem;
  font-weight: 400;
}

.main-banner-content h3 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1.3rem;
}

.main-banner-content button {
  width: 18.2rem;
  height: 5.5rem;
}

/* Marker Banner */

.banner-marker {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  top: -50rem;
  left: .8rem;
}

.retangulo {
  width: 13.8rem;
  height: 3.6rem;
  background: var(--green-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangulo {
  width: 0;
  height: 0;
  border-top: 1.5rem solid var(--green-dark);
  border-right: .8rem solid transparent;
}

/* Banner Navigation */

.banner-navigation {
  position: absolute;
  right: -7rem;
  top: 24rem;
}

.banner-navigation ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 8.1rem;
  justify-content: space-between;
}

.item-navigation {
  width: 1rem;
  height: 1rem;
  background: var(--white);
  border-radius: 50%
}

.active-item {
  background: var(--pink);
}

/* Grid Games */

.card-game {
  width: 293px;
  height: 217px;
  background: var(--white);
  filter: drop-shadow(0px 1px 5px rgba(3, 5, 23, 0.05));
}

.card-content {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.2rem 0 1.6rem;
}

.card-content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-content h3 {
  color: var(--black);
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
}

.card-content p {
  font-size: 1.2rem;
  color: var(--gray-dark);
  font-weight: 700;
}

.card-content-right {
  display: flex;
  align-items: flex-end;
  justify-content: start;
  flex-direction: column;
}

.card-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: .9rem;
}

.card-content .game-price {
  width: 7.8rem;
  height: 2.2rem;
  background-color: var(--green-light);
  border-radius: .2rem;
  margin-right: .3rem;
}

.card-content .cart-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8rem;
  height: 2.2rem;
  background-color: var(--green-light);
}


.card-content .game-price p {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--white);
}


/* Card Games */

.container-cards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-game {
  margin-bottom: 4.6rem;
}

.slide-button {
  display: inline-block;
  position: absolute;
  z-index: 99;
}

.right-button {
  right: -5rem;
  top: 8.2rem;
}

.left-button {
  left: -5rem;
  top: 8.2rem;
}

.invert-arrow {
  transform: scaleX(-1);
}

/* Game big Banner */

.game-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 3.2rem;
}

.game-banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 4.9rem 4.9rem 0;
}

.game-banner-content p {
  font-size: 1.8rem;
  font-weight: 300;
}

.game-banner-content button {
  margin-top: 2.3rem;
  width: 16.9rem;
  height: 3.9rem;

}

/* Upcoming Section */

.invert-banner .game-banner-content {
  margin: 0 0 4.9rem 4.9rem;
  align-items: flex-start;
}


/* Marker card Game */

.card-marker-discount {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  top: -20rem;
  left: .8rem;
}

.rectangle-discount {
  width: 7.1rem;
  height: 2.4rem;
  background: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangle-discount {
  width: 0;
  height: 0;
  border-top: 1.5rem solid #ff5f5fb5;
  border-right: .8rem solid transparent;
}

/* FOOTER */

footer {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  width: 100%;
  height: 40.5rem;
  background: var(--white);
  z-index: 0;
  bottom: 0;
  clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 100%);
}


.grid-footer {
  width: 80%;
  color: #000000;
  font-size: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 4rem;
}

.grid-footer-logo {
  grid-area: 1 / 1 / 2 / 2;
}

.grid-footer-empty-1 {
  grid-area: 1 / 2 / 2 / 5;
}

.grid-footer-contatc {
  grid-area: 2 / 1 / 3 / 2;
}

.grid-footer-follow-us {
  grid-area: 2 / 2 / 3 / 3;
}

.grid-footer-links {
  grid-area: 2 / 3 / 3 / 4;
}

.grid-footer-location {
  grid-area: 2 / 4 / 3 / 5;
}


.grid-footer>div {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.grid-footer>div>h3 {
  margin-bottom: 1.8rem;
  text-transform: uppercase;
}

.grid-footer>div>h3::before {
  content: '';
  width: 2.2rem;
  height: .3rem;
  background-color: #35BDAC;
  display: inline-block;
  margin-right: -2.3rem;
  margin-bottom: -1rem;
}


.grid-footer>div>ul {
  list-style-type: none;

  display: flex;
  flex-direction: column;
}

.grid-footer>div>ul>li {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--gray-link);
  margin-bottom: .6rem;
}

.grid-footer img {
  width: 10.7rem;
  margin-bottom: 3.2rem;
}

footer p {
  text-align: center;
  color: var(--gray-link);
  margin-bottom: 1.7rem;
}

/* STORE */

.grid-store {
  width: 100%;
  display: grid;
  grid-template-columns: .2fr 1fr;
  grid-template-rows: auto repeat(4, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 0px;
}

.grid-store-form-menu {
  grid-area: 1 / 1 / 5 / 2;
}

.grid-store-search-bar {
  grid-area: 1 / 2 / 2 / 3;
}

.grid-store-card-games {
  grid-area: 2 / 2 / 5 / 3;
}

.grid-store-empty-space-1 {
  grid-area: 5 / 1 / 6 / 2;
}

.grid-store-show-more {
  grid-area: 5 / 2 / 6 / 3;
}

.grid-store fieldset{
  border: none;
}

.grid-store label{
  margin: 0 1.2rem 1.2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  font-size: 1.4rem;
  font-weight: 400;
}

.grid-store label input[type="checkbox"]{
  height: 1.8rem;
  width: 1.8rem;
  margin: 0 1.2rem 0 0;

  display: flex;
  align-items: center;
  justify-content: center ;
  
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;

  accent-color: var(--pink);
  border: 2px solid var(--gray-input);
  border-radius: .2rem;
  
}

.grid-store label input[type="checkbox"]::after{
  content: url("../icons/ic-check.svg");
  
  display: none;
}

.grid-store label input[type="checkbox"]:checked{
  background-color: var(--pink); 
  border: none;
}

.grid-store label input[type="checkbox"]:checked::after{
  display: block;
}


